.about-container {
  border: 2px solid #ccc; /* Bordes del cuadrado */
  border-radius: 10px; /* Opcional: redondear bordes */
  padding: 20px; /* Espaciado interno */
  background-color: #f9f9f9; /* Color de fondo */
  margin: 20px; /* Margen alrededor del cuadrado */
}

.about-header {
  text-align: center;
  margin-bottom: 20px;
}

.about-content p {
  margin-bottom: 15px;
}

.about-content ul {
  list-style-type: disc;
  padding-left: 20px;
}

.about-content h3 {
  margin-top: 20px;
}

.footer {
  background: #343a40;
  color: white;
}

.footer p {
  margin: 0;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(68, 141, 137, 0.8); /* Fondo blanco transparente */
  margin-top: 20px; /* Espacio superior */
}
.card-body {
  padding: 20px; /* Relleno interno */
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 10px;
  max-height: 50px; /* Ajusta la altura del logo según tus necesidades */
}
.navbar-container {
  border: 2px solid #ccc; /* Bordes del cuadrado */
  border-radius: 20px; /* Opcional: redondear bordes */
  padding: 25px; /* Espaciado interno */
  background-color: #c7ca10; /* Color de fondo */
  margin: 30px; /* Margen alrededor del cuadrado */
}

.logo-container {
  border: 2px solid #ccc; /* Bordes del cuadrado */
  border-radius: 10px; /* Opcional: redondear bordes */
  padding: 15px; /* Espaciado interno */
  background-color: #f1f5f7; /* Color de fondo */
  margin: 20px; /* Margen alrededor del cuadrado */
  text-align: center; /* Centrar el contenido */
}

  
