<div class="container">
  <header class="d-flex justify-content-between py-3">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-jLKHWMZnbAdT4eOYMRiW7d8TRd1fmNxl41ENm3T6A0RVdWZUNeCguS6f9YgFlP1i" crossorigin="anonymous">
    <div class="logo-container">
      <div class="logo">
        <a routerLink="/home">
          <img src="https://mms.businesswire.com/media/20230702248979/es/838381/4/DNP_CorporateMark_rgb_4c_20160826.jpg?download=1" alt="DNP Logo" style="max-height: 50px;">
        </a>
        <h1 class="text-primary text-center">Registro de Activos de Información</h1>
      </div>
    </div>

    <div class="navbar-container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

<div class="services-container">
  <h1 class="text-center mb-5">Nuestros Servicios</h1>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-jLKHWMZnbAdT4eOYMRiW7d8TRd1fmNxl41ENm3T6A0RVdWZUNeCguS6f9YgFlP1i" crossorigin="anonymous">

  <div class="row">
    <div class="col-md-4">
      <div class="service-card">
        <div class="service-icon">
          <i class="fas fa-database"></i>
        </div>
        <h2>Servicio 1</h2>
        <p>Acceso a una amplia base de datos de activos de información, incluidos detalles y metadatos completos.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service-card">
        <div class="service-icon">
          <i class="fas fa-chart-line"></i>
        </div>
        <h2>Servicio 2</h2>
        <p>Utilización de herramientas avanzadas de análisis de datos para obtener información valiosa de los activos.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service-card">
        <div class="service-icon">
          <i class="fas fa-lock"></i>
        </div>
        <h2>Servicio 3</h2>
        <p>Garantía de acceso seguro a los datos con mecanismos sólidos de autenticación y autorización.</p>
      </div>
    </div>
  </div>

  <footer class="footer bg-dark text-white py-3 text-center">
    <p>&copy; 2024 DNP - Registro de Activos de Información. All rights reserved.</p>
    <div class="social-icons">
      <a href="https://www.facebook.com/DNP" target="_blank" class="text-white mx-2">
        <i class="fab fa-facebook-square fa-2x"></i>
      </a>
      <a href="https://www.instagram.com/DNP" target="_blank" class="text-white mx-2">
        <i class="fab fa-instagram fa-2x"></i>
      </a>
      <a href="https://www.twitter.com/DNP" target="_blank" class="text-white mx-2">
        <i class="fab fa-twitter-square fa-2x"></i>
      </a>
    </div>
  </footer>
</div>
