<div class="container">
  <header class="d-flex justify-content-between py-3">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-jLKHWMZnbAdT4eOYMRiW7d8TRd1fmNxl41ENm3T6A0RVdWZUNeCguS6f9YgFlP1i" crossorigin="anonymous">
    <div class="logo-container">
      <div class="logo">
        <a routerLink="/home">
          <img src="https://mms.businesswire.com/media/20230702248979/es/838381/4/DNP_CorporateMark_rgb_4c_20160826.jpg?download=1" alt="DNP Logo" style="max-height: 50px;">
        </a>
        <h1 class="text-primary text-center">Registro de Activos de Información</h1>
      </div>
    </div>
  </header>
  <button routerLink="/operator-menu" class="btn btn-primary mt-3">Volver al Menú</button>
  <main>
    <section class="dashboard mt-4">
      <div class="dashboard-container">
        <h1>Dashboard</h1>
        <!-- Enlace al dataset -->
        <p class="text-center">
          <a href="https://www.datos.gov.co/resource/66cz-mgrg.json" target="_blank" style="color: red;">Ver el dataset completo</a>
        </p>

        <!-- Descripción general -->
        <div class="text-center mb-4">
          <p>Este dashboard presenta diferentes gráficos para visualizar la distribución y tendencias de los activos registrados. Aquí puedes encontrar un gráfico de pastel que muestra la distribución de tipos de activos, un gráfico de barras que representa los activos por año y un gráfico de líneas que ilustra la tendencia total de activos a lo largo del tiempo.</p>
        </div>

        <div class="buttons-container">
          <button (click)="toggleChart('pieChart')" class="btn btn-primary">Mostrar Distribución de Tipos de Activos</button>
          <button (click)="toggleChart('barChart')" class="btn btn-success">Mostrar Activos Registrados por Año</button>
          <button (click)="toggleChart('lineChart')" class="btn btn-danger">Mostrar Tendencia de Activos a lo Largo del Tiempo</button>
        </div>

        <div class="chart-container">
          <div *ngIf="activeChart === 'pieChart'" echarts [options]="pieChartOption" class="demo-chart"></div>
          <p *ngIf="activeChart === 'pieChart'">Este gráfico de pastel muestra la distribución de diferentes tipos de activos registrados en el dataset. Cada segmento representa una categoría de activo y su proporción total.</p>

          <div *ngIf="activeChart === 'barChart'" echarts [options]="barChartOption" class="demo-chart"></div>
          <p *ngIf="activeChart === 'barChart'">Este gráfico de barras ilustra la cantidad de activos registrados en cada año. Permite comparar el número total de activos a lo largo de los años.</p>

          <div *ngIf="activeChart === 'lineChart'" echarts [options]="lineChartOption" class="demo-chart"></div>
          <p *ngIf="activeChart === 'lineChart'">Este gráfico de líneas muestra la tendencia de activos totales a lo largo de los meses. Permite observar cómo cambia la cantidad de activos con el tiempo.</p>
        </div>
      </div>
    </section>
  </main>

  <footer class="footer bg-dark text-white py-3 text-center mt-5">
    <p>&copy; 2024 DNP - Registro de Activos de Información. Todos los derechos reservados.</p>
    <div class="social-icons">
      <a href="https://www.facebook.com/DNP" target="_blank" class="text-white mx-2">
        <i class="fab fa-facebook-square fa-2x"></i>
      </a>
      <a href="https://www.instagram.com/DNP" target="_blank" class="text-white mx-2">
        <i class="fab fa-instagram fa-2x"></i>
      </a>
      <a href="https://www.twitter.com/DNP" target="_blank" class="text-white mx-2">
        <i class="fab fa-twitter-square fa-2x"></i>
      </a>
    </div>
  </footer>
</div>
